@model Homework.ViewModels.SubmitAssignmentViewModel

@{
    ViewData["Title"] = "SubmitAsssignment";
}

<h1 style="background-color: #5a9191;">Submit Assignment</h1>

<hr />
<div class="row">
    <div class="col-sm-8">
        <form enctype="multipart/form-data" asp-action="SubmitAssignment" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="AssignmentID" type="hidden" value="@ViewData["AssignmentId"]" />
            <div class="form-group">
                <textarea placeholder="Enter description for your submission if any" asp-for="Description" class="form-control" rows="5" cols="30"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Upload Files:</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Files" class="form-control custom-file-input" multiple>
                        <label class="custom-file-label">Choose Files...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" style="background-color: #5a9191; border-color: #5a9191; color: white" />
            </div>
            <script>
            $(document).ready(function () {
                $('.custom-file input').change(function (e) {
                    var files = [];
                    for (var i = 0; i < $(this)[0].files.length; i++) {
                        files.push($(this)[0].files[i].name);
                    }
                    $(this).next('.custom-file-label').html(files.join(', '));
                });
            });
            </script>
        </form>
    </div>
</div>

<div>
    <a asp-action="Home" asp-route-id="@ViewBag.ClassId">Back to Home</a>
</div>

